@font-face {
  font-family: 'Copperplate'; /* Choose a name for your font */
  src: url('./assets/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Copperplate", sans-serif;
}